@font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    font-style: normal;
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --color-background: #141414;
    --color-surface: #1F1F1F;
    --color-btn-primary: #333333;
    --color-hover: #C4F82A;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #C4F82A;

    --font-size-24: 2.4rem;
    --font-size-14: 1.4rem;

    --line-height: 150%;
    --letter-spacing: 0rem;

    --spacing-40: 4.0rem;
    --spacing-24: 2.4rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4: 0.4rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-surface);
    padding: var(--spacing-40);
    border-radius: 1.4rem;
}

.card__image{
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
    margin-bottom: var(--spacing-24);
}

.card__name{
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: var(--font-size-24);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

.card__location{
    color: var(--color-text-secondary);
    font-weight: 700;
    font-size: var(--font-size-14);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    margin-bottom: var(--spacing-24);
}

.card__bio{
    color: var(--color-text-primary);
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    margin-bottom: var(--spacing-24);
}